*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Montserrat", sans-serif;
}

.top{
  background-color: #6e1400;
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1111;
}

.top-right-container a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 5px;
  padding: 10px;
  transition: .4s;
}

.top i{
  display: none;
  z-index: 1000;
}

.top-right-container a:hover{
  background-color: #aa5e4e;
  padding: 10px;
  border-radius: 10px;
}

.top-left-container h1{
  color: white;
}

.welcome-background{
  background-image: url(./italy-bg.jpg);
  background-size: cover;
  height: 100vh;
  background-position: center;
  filter: brightness(20%);
}

.welcome-content{
  position: absolute;
  background-color: pink;
  padding: 20px;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: transparent;
  text-align: center;
}

.welcome-content h1{
  font-size: 60px;
  color: white;
}

.welcome-content button{
  font-size: 25px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  transition: .4s;
  cursor: pointer;
  padding: 10px 30px;
}

.welcome-content button:hover{
  opacity: 50%;
}

.birth-background{
  background-image: url(./london-bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  filter: brightness(50%);
} 

.birth-content{
  color: white;
  padding-top: 80px;
  position: absolute;
  z-index: 1;
  font-size: 40px;
  top: 130%;
  padding: 10px 50px;
}

aside{
  float: right;
  font-size: 30px;
  text-align: center;
}

aside img{
   height: 350px;
   width: 350px;
   object-fit: cover;
   border-radius: 10px;
}

.responsive-menu{
  position: fixed;
  height: 100%;
  width: 50%;
  background-color: #923725;
  right: -50%;
  z-index: 998;
  visibility: hidden;
  transition: .4s;
  border-radius: 10px;
}

.responsive-menu-show{
  visibility: visible;
  right: 0;
}

.responsive-menu-container{
  padding-top: 70px;
  text-align: center;
}

.responsive-menu-container a{
  font-size: 35px;
  text-decoration: none;
  color: white;
  display: block;
}

.responsive-menu-container a:first-child{
  margin-top: 50px;
  margin-bottom: 20px;
}

@media (max-width: 955px){
  aside{
    float: none;
    margin-bottom: 20px;
  }

  .birth-content{
    top: 110%;
    font-size: 30px;
  }
}

@media (max-width: 768px){
  .top-left-container, .top-right-container a{
    display: none;
  }

  .top i{
    display: block;
    color: white;
  }

  .welcome-content h1{
    font-size: 30px;
  }

  .welcome-content button{
    font-size: 15px;
  }

  .birth-content{
    top: 110%;
    font-size: 25px;
  }

  aside img{
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
  }

  aside{
    font-size: 20px;
    margin-bottom: 40px;
  }
}

@media (max-width: 425px){
  .birth-content{
    font-size: 15px;
  }

  .responsive-menu-container a{
    font-size: 20px;
  }

  .responsive-menu{
    height: 30%;
  }

  .welcome-content h1{
    font-size: 20px;
  }
}