*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  font-family: "Montserrat", sans-serif;
}

.top{
  background-color: #6e1400;
  height: 70px;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 1;
}

.top-right-container a{
  text-decoration: none;
  color: white;
  font-size: 25px;
  margin-right: 5px;
  padding: 10px;
  transition: .4s;
}

.top-right-container i{
  display: none;
  pointer-events: none
}

.top-right-container a:hover{
  background-color: #aa5e4e;
  padding: 10px;
  border-radius: 10px;
}

.top-left-container h1{
  color: white;
}

.welcome-background{
  background-image: url(./italy-bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  filter: brightness(20%);
}

.welcome-content{
  position: absolute;
  background-color: pink;
  height: 340px;
  width: 550px;
  padding: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background-color: transparent;
  text-align: center;
}

.welcome-content h1{
  font-size: 60px;
  color: white;
}

.welcome-content button{
  font-size: 25px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: bold;
  transition: .4s;
  cursor: pointer;
  padding: 10px 30px;
}

.welcome-content button:hover{
  opacity: 50%;
}

.birth-background{
  background-image: url(./london-bg.jpg);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-position: center;
  filter: brightness(50%);
} 

@media (max-width: 768px){
  .top-left-container, .top-right-container a{
    display: none;
  }

  .top-right-container i{
    display: block;
    color: white;
  }

  .welcome-content h1{
    font-size: 30px;
  }

  .welcome-content button{
    font-size: 15px;
  }
}